@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;600&family=Work+Sans:wght@200;400;600&display=swap");
body {
  line-height: 1.5;
  color: #676767;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-family: "Noto Sans JP", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #676767;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 120px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .container {
    padding: 0 70px;
    max-width: 1120px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 32px;
  }
}

/*------------------------------------------------------
section
--------------------------------------------------------*/
section {
  padding: 120px 0 160px;
}
@media (min-width: 768px) and (max-width:1279px) {
  section {
    padding: 90px 0 120px;
  }
}
@media (max-width: 767px) {
  section {
    padding: 90px 0;
  }
}

.section-title {
  font-size: 54px;
  letter-spacing: 0.5em;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
}
@media (min-width: 768px) and (max-width:1279px) {
  .section-title {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .section-title {
    font-size: 38px;
    line-height: 1.3;
  }
}

.section-subtitle {
  font-size: 18px;
  letter-spacing: 0.3em;
}
@media (max-width: 767px) {
  .section-subtitle {
    font-size: 15px;
  }
}

/*------------------------------------------------------
header
--------------------------------------------------------*/
header {
  height: 83px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
}
header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  header {
    height: 70px;
  }
  header .container {
    padding: 0 24px;
  }
}

h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 83px;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.15em;
}
@media (min-width: 768px) and (max-width:1279px) {
  h1 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 17px;
    line-height: 70px;
  }
}
@media screen and (max-width: 330px) {
  h1 {
    font-size: 16px;
  }
}

.head-nav {
  line-height: 83px;
  font-size: 16px;
}
.head-nav ul {
  display: flex;
}
@media (max-width: 767px) {
  .head-nav {
    display: none;
  }
}

.nav-item + .nav-item {
  margin-left: 40px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .nav-item + .nav-item {
    margin-left: 30px;
  }
}
.nav-item a {
  transition: all 0.3s;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  font-family: "Work Sans", sans-serif;
}
@media (min-width: 768px) and (max-width:1279px) {
  .nav-item a {
    font-size: 14px;
  }
}
.nav-item a:hover {
  border-color: #676767;
}

.head-nav-sp {
  font-family: "Work Sans", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 106px;
}
@media (min-width: 1280px) {
  .head-nav-sp {
    display: none;
  }
}
@media (min-width: 768px) and (max-width:1279px) {
  .head-nav-sp {
    display: none;
  }
}
.head-nav-sp p {
  position: absolute;
  height: 70px;
  background-color: #fff;
  padding-top: 22px;
  z-index: 100;
  width: 100%;
}
.head-nav-sp p a {
  display: inline-block;
  padding: 3px 3px 3px 20px;
  width: 100%;
  background-color: #fff;
}
.head-nav-sp p a span {
  font-size: 10px;
}
.head-nav-sp:hover .nav-list-sp {
  transform: translateY(0);
}

.nav-list-sp {
  overflow: hidden;
  transform: translateY(-110%);
  transition: all 0.5s;
  position: absolute;
  top: 70px;
  width: 100%;
}

.nav-item-sp {
  line-height: 46px;
  width: 100%;
}
.nav-item-sp + .nav-item-sp {
  margin-top: 2px;
}
.nav-item-sp a {
  width: 100%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 20px;
  transition: all 0.3s;
}
.nav-item-sp a:hover {
  background-color: rgba(103, 103, 103, 0.9);
  color: #fff;
}

/*------------------------------------------------------
top
--------------------------------------------------------*/
.top {
  background-image: url(../img/top.png);
  background-size: cover;
  background-position: 40% 70%;
  text-align: center;
  padding: 250px 0;
  color: white;
  margin-top: 83px;
  font-family: "Work Sans", sans-serif;
}
@media (max-width: 767px) {
  .top {
    margin-top: 70px;
  }
}

.top-title {
  font-size: 42px;
  letter-spacing: 0.3em;
  margin-bottom: 12px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .top-title {
    font-size: 30px;
    margin-bottom: 2px;
  }
}

.top-subtitle {
  font-size: 18px;
  letter-spacing: 0.1em;
}
@media (max-width: 767px) {
  .top-subtitle {
    font-size: 14px;
  }
}

/*------------------------------------------------------
about
--------------------------------------------------------*/
.about-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .about-wrapper {
    display: block;
  }
}
.about-wrapper .section-title-wrap {
  width: 35%;
}
@media (max-width: 767px) {
  .about-wrapper .section-title-wrap {
    width: 100%;
    margin-bottom: 48px;
  }
}

.about-right {
  width: 65%;
  padding-left: 50px;
}
@media (max-width: 767px) {
  .about-right {
    width: 100%;
    padding-left: 0;
  }
}

.about-name {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
  color: #000;
  padding-bottom: 16px;
  letter-spacing: 0.15em;
  border-bottom: 1px solid #000;
}
@media (min-width: 768px) and (max-width:1279px) {
  .about-name {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .about-name {
    font-size: 18px;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 24px;
  }
}

.about-text {
  line-height: 1.7;
}
@media (min-width: 768px) and (max-width:1279px) {
  .about-text {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .about-text {
    font-size: 12px;
  }
}

.about-name span {
  font-size: 16px;
  margin-left: 16px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .about-name span {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .about-name span {
    font-size: 12px;
  }
}

.about-skill-title {
  margin-top: 50px;
  margin-bottom: 16px;
}

.about-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.about-skills li {
  padding: 3px 10px;
  color: #fff;
  background-color: #E1D7C6;
  border-radius: 50px;
  font-family: "Work Sans", sans-serif;
}

/*------------------------------------------------------
service
--------------------------------------------------------*/
.service {
  background-color: #F8F4EA;
  padding: 120px 0 96px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .service {
    padding: 90px 0 56px;
  }
}
@media (max-width: 767px) {
  .service {
    padding: 90px 0 50px;
  }
}
.service .section-title-wrap {
  transform: rotate(90deg);
  transform-origin: center center;
  display: inline-block;
}
@media (max-width: 767px) {
  .service .section-title-wrap {
    transform: rotate(0);
  }
}
.service .section-title {
  margin-top: 48px;
}
@media (max-width: 767px) {
  .service .section-title {
    margin-top: 0;
    letter-spacing: 0.4em;
  }
}

.service-right {
  width: 28%;
  padding-top: 160px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .service-right {
    padding-top: 130px;
  }
}
@media (max-width: 767px) {
  .service-right {
    padding-top: 0;
    margin-bottom: 56px;
    width: 100%;
  }
}

.service-title {
  font-family: "Work Sans", sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.2em;
  position: relative;
  padding-left: 54px;
  margin-bottom: 42px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .service-title {
    font-size: 22px;
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .service-title {
    font-size: 20px;
    margin-bottom: 24px;
    padding-left: 36px;
  }
}
.service-title::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 2px;
  background-color: #676767;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
@media (max-width: 767px) {
  .service-title::before {
    width: 24px;
  }
}

.service-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  overflow: hidden;
}
@media (max-width: 767px) {
  .service-wrapper {
    display: block;
  }
}

.service-list {
  width: 70%;
}
@media (max-width: 767px) {
  .service-list {
    width: 100%;
  }
}

.service-item {
  position: relative;
  padding-bottom: 64px;
}
@media (max-width: 767px) {
  .service-item {
    padding-bottom: 40px;
  }
}

.service-img {
  position: absolute;
  width: 170px;
  opacity: 0.05;
}

.service-img1 {
  top: 10%;
  left: 47%;
}
@media (min-width: 768px) and (max-width:1279px) {
  .service-img1 {
    top: 5%;
  }
}
@media (max-width: 767px) {
  .service-img1 {
    top: 0;
    left: 32%;
    width: 156px;
  }
}

.service-img2 {
  top: 20%;
  left: 30%;
  width: 130px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .service-img2 {
    top: 26%;
    left: 40%;
  }
}
@media (max-width: 767px) {
  .service-img2 {
    top: 19%;
    left: 21%;
    width: 115px;
  }
}

.service-img3 {
  width: 175px;
  top: 10%;
  left: 37%;
}
@media (min-width: 768px) and (max-width:1279px) {
  .service-img3 {
    top: 7%;
    left: 24%;
  }
}
@media (max-width: 767px) {
  .service-img3 {
    top: 10%;
    left: 27%;
    width: 150px;
  }
}

.service-text {
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 1.7;
}
@media (max-width: 767px) {
  .service-text {
    font-size: 12px;
  }
}

/*------------------------------------------------------
work
--------------------------------------------------------*/
.work {
  padding-bottom: 170px;
}
.work .section-title-wrap {
  display: flex;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .work .section-title-wrap {
    display: block;
    margin-bottom: 48px;
  }
}
.work .section-title {
  margin-right: 24px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .work .section-title {
    margin-right: 12px;
  }
}
.work .section-subtitle {
  margin-top: 32px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .work .section-subtitle {
    margin-top: 22px;
  }
}
@media (max-width: 767px) {
  .work .section-subtitle {
    margin-top: 0;
  }
}

.work-lead {
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .work-lead {
    font-size: 12px;
  }
}

.work-title {
  margin-top: 10px;
  font-size: 18px;
}
.work-title span {
  font-size: 14px;
}

.work-img {
  -o-object-position: top;
     object-position: top;
}

.work-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .work-list {
    gap: 40px 32px;
  }
}
@media (max-width: 767px) {
  .work-list {
    gap: 40px;
  }
}

.work-item {
  width: calc((100% - 60px) / 2);
  transition: opacity 0.3s;
  aspect-ratio: 5/3;
}
@media (min-width: 768px) and (max-width:1279px) {
  .work-item {
    width: calc((100% - 32px) / 2);
  }
}
@media (max-width: 767px) {
  .work-item {
    width: 100%;
  }
}
.work-item:hover .work-hover {
  opacity: 1;
  visibility: visible;
}
.work-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.work-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px;
  color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.work-hover p {
  font-size: 14px;
  padding-left: 3px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .work-hover {
    padding: 24px 40px;
  }
}

.work-ctg {
  font-size: 12px;
  display: inline-block;
  font-weight: 300;
  border: 1px solid #000;
  padding: 3px 10px;
  border-radius: 50px;
}

.work-title {
  font-size: 18px;
  margin-bottom: 50px;
  padding-left: 3px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .work-title {
    margin-bottom: 28px;
  }
}

.work-img-sp {
  display: none;
}

/*------------------------------------------------------
modal
--------------------------------------------------------*/
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.modal-overlay {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal-img-wrap {
  position: absolute;
  width: 40%;
  height: 100vh;
  top: 0;
  left: 35%;
  transform: translateX(-50%);
  overflow: hidden;
}
@media (max-width: 767px) {
  .modal-img-wrap {
    width: 47%;
    height: 90%;
  }
}

.modal-img {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal-img-wrap-sp {
  position: absolute;
  width: 20%;
  height: 100vh;
  top: 0;
  left: 73%;
  transform: translateX(-50%);
  overflow: hidden;
}
@media (max-width: 767px) {
  .modal-img-wrap-sp {
    width: 27%;
    height: 90%;
  }
}

.modal-img-sp {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal-img::-webkit-scrollbar {
  display: none;
}

.modal-img-sp::-webkit-scrollbar {
  display: none;
}

.modal-btn {
  position: absolute;
  z-index: 120;
  top: 92%;
  left: 85%;
  display: none;
}
@media (max-width: 767px) {
  .modal-btn {
    left: 50%;
    transform: translateX(-50%);
    top: 94%;
  }
}
.modal-btn.is-active {
  display: block;
}
.modal-btn a {
  color: #000;
  font-size: 14px;
  border-bottom: 1px solid #676767;
  padding: 3px 15px 3px 0;
  transition: opacity 0.3s;
  font-family: "Work Sans", sans-serif;
  position: relative;
}
.modal-btn a::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 1px;
  transform: rotate(30deg);
  background-color: #676767;
  bottom: 1px;
  right: 0;
}
.modal-btn a:hover {
  opacity: 0.7;
}
@media (min-width: 768px) and (max-width:1279px) {
  .modal-btn a {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .modal-btn a {
    font-size: 11px;
  }
}

/*------------------------------------------------------
contact
--------------------------------------------------------*/
.contact {
  padding: 80px 0;
  text-align: center;
  background-color: #F8F4EA;
}
@media (min-width: 768px) and (max-width:1279px) {
  .contact {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .contact p {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .contact {
    padding: 60px 0;
  }
  .contact .section-title {
    letter-spacing: 0.35em;
  }
}

.contact img {
  width: 10%;
  margin-top: 18px;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .contact img {
    width: 20%;
  }
}

/*------------------------------------------------------
footer
--------------------------------------------------------*/
footer {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  background-color: #E1D7C6;
  padding: 24px 0;
  font-size: 12px;
  text-align: end;
}