@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;600&family=Work+Sans:wght@200;400;600&display=swap");
.work-page {
  padding-top: 190px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.work-page .container {
  padding: 0 160px;
}

.work-sectiontitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 6px;
}

.work-sectiontitle-ctg {
  text-align: center;
  margin-bottom: 80px;
}

.work-disc {
  margin-bottom: 4px;
}

.work-disc-list {
  margin-bottom: 80px;
}

.work-dic-item {
  display: flex;
}
.work-dic-item:not(:first-child) {
  margin-top: 8px;
}
.work-dic-item dt {
  width: 150px;
}
.work-dic-item dd {
  width: calc(100% - 150px);
}
.work-dic-item a {
  text-decoration: underline;
  transition: all 0.3s;
}
.work-dic-item a:hover {
  opacity: 0.7;
}

.work-url {
  margin-bottom: 80px;
}
.work-url a {
  text-decoration: underline;
  transition: all 0.3s;
}
.work-url a:hover {
  opacity: 0.7;
}

.work-imgs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.work-img-pc {
  width: 68%;
}
.work-img-pc img {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}

.work-img-sp {
  width: 24%;
}
.work-img-sp img {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}

.work-btn-back {
  text-align: center;
  padding-top: 4px;
}
.work-btn-back a {
  font-size: 14px;
  padding-bottom: 5px;
  display: inline-block;
  position: relative;
}
.work-btn-back a::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 104%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #676767;
  transition: 0.3s all;
}
.work-btn-back a:hover::after {
  width: 120%;
}

body {
  line-height: 1.5;
  color: #676767;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-family: "Noto Sans JP", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #676767;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 120px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .container {
    padding: 0 70px;
    max-width: 1120px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 32px;
  }
}

/*------------------------------------------------------
section
--------------------------------------------------------*/
section {
  padding: 160px 0 120px;
}
@media (min-width: 768px) and (max-width:1279px) {
  section {
    padding: 90px 0 120px;
  }
}
@media (max-width: 767px) {
  section {
    padding: 90px 0;
  }
}

.section-title-wrap {
  text-align: center;
  line-height: 1;
  margin-bottom: 68px;
}

.section-title {
  font-size: 42px;
  letter-spacing: 0.4em;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  position: relative;
  margin-bottom: 4px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .section-title {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .section-title {
    font-size: 32px;
  }
}

.section-subtitle {
  font-size: 14px;
  letter-spacing: 0.3em;
  color: #afafaf;
}
@media (max-width: 767px) {
  .section-subtitle {
    font-size: 12px;
  }
}

/*------------------------------------------------------
header
--------------------------------------------------------*/
header {
  height: 83px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
}
header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  header {
    height: 70px;
  }
  header .container {
    padding: 0 24px;
  }
}

h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 83px;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.15em;
}
@media (min-width: 768px) and (max-width:1279px) {
  h1 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 17px;
    line-height: 70px;
  }
}
@media screen and (max-width: 330px) {
  h1 {
    font-size: 16px;
  }
}

.head-nav {
  line-height: 83px;
  font-size: 16px;
}
.head-nav ul {
  display: flex;
}
@media (max-width: 767px) {
  .head-nav {
    display: none;
  }
}

.nav-item + .nav-item {
  margin-left: 40px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .nav-item + .nav-item {
    margin-left: 30px;
  }
}
.nav-item a {
  transition: all 0.3s;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  font-family: "Work Sans", sans-serif;
}
@media (min-width: 768px) and (max-width:1279px) {
  .nav-item a {
    font-size: 14px;
  }
}
.nav-item a:hover {
  border-color: #676767;
}

.head-nav-sp {
  font-family: "Work Sans", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 106px;
}
@media (min-width: 1280px) {
  .head-nav-sp {
    display: none;
  }
}
@media (min-width: 768px) and (max-width:1279px) {
  .head-nav-sp {
    display: none;
  }
}
.head-nav-sp p {
  position: absolute;
  height: 70px;
  background-color: #fff;
  padding-top: 22px;
  z-index: 100;
  width: 100%;
}
.head-nav-sp p a {
  display: inline-block;
  padding: 3px 3px 3px 20px;
  width: 100%;
  background-color: #fff;
}
.head-nav-sp p a span {
  font-size: 10px;
}
.head-nav-sp:hover .nav-list-sp {
  transform: translateY(0);
}

.nav-list-sp {
  overflow: hidden;
  transform: translateY(-110%);
  transition: all 0.5s;
  position: absolute;
  top: 70px;
  width: 100%;
}

.nav-item-sp {
  line-height: 46px;
  width: 100%;
}
.nav-item-sp + .nav-item-sp {
  margin-top: 2px;
}
.nav-item-sp a {
  width: 100%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 20px;
  transition: all 0.3s;
}
.nav-item-sp a:hover {
  background-color: rgba(103, 103, 103, 0.9);
  color: #fff;
}

/*------------------------------------------------------
top
--------------------------------------------------------*/
.top {
  background-image: url(../img/top.jpg);
  background-size: cover;
  padding: 170px 0 250px;
  color: white;
  margin-top: 83px;
  font-family: "Work Sans", sans-serif;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
@media (max-width: 767px) {
  .top {
    margin-top: 70px;
  }
}

.top-title {
  font-size: 42px;
  letter-spacing: 0.2em;
  margin-bottom: 12px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .top-title {
    font-size: 30px;
    margin-bottom: 2px;
  }
}

.top-subtitle {
  font-size: 18px;
  letter-spacing: 0.1em;
}
@media (max-width: 767px) {
  .top-subtitle {
    font-size: 14px;
  }
}

/*------------------------------------------------------
about
--------------------------------------------------------*/
.about-content {
  display: flex;
  align-items: center;
  padding: 0 80px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .about-content {
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .about-content {
    display: block;
    padding: 0;
  }
}

.about-content-left {
  width: 260px;
  height: 260px;
}
.about-content-left img {
  -o-object-position: 30%;
     object-position: 30%;
  border-radius: 140px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) and (max-width:1279px) {
  .about-content-left {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 767px) {
  .about-content-left {
    margin: 0 auto 54px;
  }
}

.about-content-right {
  width: calc(100% - 260px);
  padding-left: 72px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .about-content-right {
    width: calc(100% - 200px);
    padding-left: 50px;
  }
}
@media (max-width: 767px) {
  .about-content-right {
    width: 100%;
    padding-left: 0;
  }
}

.about-name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 34px;
  padding-bottom: 8px;
  letter-spacing: 0.15em;
  border-bottom: 1px solid #676767;
}
@media (min-width: 768px) and (max-width:1279px) {
  .about-name {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .about-name {
    font-size: 18px;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 18px;
  }
}

.about-text {
  line-height: 1.7;
}
@media (min-width: 768px) and (max-width:1279px) {
  .about-text {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .about-text {
    font-size: 12px;
  }
}

.about-name span {
  font-size: 15px;
  margin-left: 16px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .about-name span {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .about-name span {
    font-size: 12px;
  }
}

/*------------------------------------------------------
service
--------------------------------------------------------*/
.service {
  background-color: #F8F4EA;
}
@media (min-width: 768px) and (max-width:1279px) {
  .service {
    padding: 90px 0 56px;
  }
}
@media (max-width: 767px) {
  .service {
    padding: 90px 0 50px;
  }
}

.service-title {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}
@media (min-width: 768px) and (max-width:1279px) {
  .service-title {
    font-size: 22px;
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .service-title {
    font-size: 20px;
  }
}

.service-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .service-list {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .service-list {
    display: block;
  }
}

.service-item {
  width: calc((100% - 40px) / 3);
  background-color: #fff;
  border-radius: 20px;
  padding: 24px 20px 30px;
  border: 1px solid #afafaf;
}
@media (max-width: 767px) {
  .service-item {
    width: 100%;
    max-width: 300px;
  }
  .service-item:not(:first-child) {
    margin-top: 30px;
  }
}

.service-img {
  margin: auto;
  width: 110px;
  height: 110px;
  margin-bottom: 24px;
  text-align: center;
}
.service-img img {
  opacity: 0.6;
}

.service-img1 img {
  margin-top: 7px;
}

.service-img2 img {
  margin-top: 7px;
}

.service-img3 {
  width: 115px;
}

.service-text {
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 1.7;
}
@media (max-width: 767px) {
  .service-text {
    font-size: 12px;
  }
}

.service-tags {
  display: flex;
  margin-top: 14px;
  gap: 6px 10px;
  flex-wrap: wrap;
}

.service-tag {
  background-color: #E1D7C6;
  font-size: 12px;
  padding: 3px 9px;
  border-radius: 30px;
  font-weight: bold;
  color: white;
}

/*------------------------------------------------------
work
--------------------------------------------------------*/
.work {
  padding-bottom: 170px;
}

.work-title {
  margin-top: 10px;
  font-size: 18px;
}
.work-title span {
  font-size: 14px;
}

.work-img {
  -o-object-position: top;
     object-position: top;
}

.work-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 76px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .work-list {
    gap: 40px 32px;
  }
}
@media (max-width: 767px) {
  .work-list {
    gap: 40px;
  }
}

.work-item {
  width: calc((100% - 76px) / 2);
  transition: opacity 0.3s;
  aspect-ratio: 5/3;
}
@media (min-width: 768px) and (max-width:1279px) {
  .work-item {
    width: calc((100% - 40px) / 2);
  }
}
@media (max-width: 767px) {
  .work-item {
    width: 100%;
  }
}
.work-item:hover .work-hover {
  opacity: 1;
  visibility: visible;
}
.work-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.work-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px;
  color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  text-align: center;
}
.work-hover p {
  font-size: 14px;
  padding-left: 3px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .work-hover {
    padding: 24px 40px;
  }
}

.work-ctg {
  font-size: 12px;
  display: inline-block;
  font-weight: 300;
  border: 1px solid #000;
  padding: 2px 8px;
  border-radius: 50px;
  margin-top: 50px;
}

.work-title {
  font-size: 16px;
  margin-bottom: 50px;
  padding-left: 3px;
}
@media (min-width: 768px) and (max-width:1279px) {
  .work-title {
    margin-bottom: 28px;
  }
}

/*------------------------------------------------------
modal
--------------------------------------------------------*/
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.modal-overlay {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal-img-wrap {
  position: absolute;
  width: 40%;
  height: 100vh;
  top: 0;
  left: 35%;
  transform: translateX(-50%);
  overflow: hidden;
}
@media (max-width: 767px) {
  .modal-img-wrap {
    width: 47%;
    height: 90%;
  }
}

.modal-img {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal-img-wrap-sp {
  position: absolute;
  width: 20%;
  height: 100vh;
  top: 0;
  left: 73%;
  transform: translateX(-50%);
  overflow: hidden;
}
@media (max-width: 767px) {
  .modal-img-wrap-sp {
    width: 27%;
    height: 90%;
  }
}

.modal-img-sp {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal-img::-webkit-scrollbar {
  display: none;
}

.modal-img-sp::-webkit-scrollbar {
  display: none;
}

.modal-btn {
  position: absolute;
  z-index: 120;
  top: 92%;
  left: 85%;
  display: none;
}
@media (max-width: 767px) {
  .modal-btn {
    left: 50%;
    transform: translateX(-50%);
    top: 94%;
  }
}
.modal-btn.is-active {
  display: block;
}
.modal-btn a {
  color: #000;
  font-size: 14px;
  border-bottom: 1px solid #676767;
  padding: 3px 15px 3px 0;
  transition: opacity 0.3s;
  font-family: "Work Sans", sans-serif;
  position: relative;
}
.modal-btn a::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 1px;
  transform: rotate(30deg);
  background-color: #676767;
  bottom: 1px;
  right: 0;
}
.modal-btn a:hover {
  opacity: 0.7;
}
@media (min-width: 768px) and (max-width:1279px) {
  .modal-btn a {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .modal-btn a {
    font-size: 11px;
  }
}

/*------------------------------------------------------
contact
--------------------------------------------------------*/
.contact {
  padding: 80px 0;
  text-align: center;
  background-color: #F8F4EA;
}
@media (min-width: 768px) and (max-width:1279px) {
  .contact {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .contact p {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .contact {
    padding: 60px 0;
  }
  .contact .section-title {
    letter-spacing: 0.35em;
  }
}

.contact img {
  width: 10%;
  margin-top: 18px;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .contact img {
    width: 20%;
  }
}

/*------------------------------------------------------
footer
--------------------------------------------------------*/
footer {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  background-color: #E1D7C6;
  padding: 24px 0;
  font-size: 12px;
  text-align: end;
}