@use "variable";
@use "work";


body{
   line-height: 1.5;
   color: #676767;
   font-size: 14px;
   letter-spacing: 0.1em;
   font-family: variable.$font-ja;

}
img{
   width: 100%;
}

a{
   text-decoration: none;
   color: #676767;

}


.clear::after{
   content: "";
   clear: both;
   display: block;
}

.container{
   max-width: 1280px;
   margin: auto;
   padding:  0 120px;
   @include variable.mq(tab){
      padding: 0 70px;
      max-width: 1120px;
   }

   @include variable.mq(){
      padding: 0 32px;
   }
}

/*------------------------------------------------------
section
--------------------------------------------------------*/
section{
   padding: 160px 0 120px;
   @include variable.mq(tab){
      padding: 90px 0 120px;
   }
   @include variable.mq(){
      padding: 90px 0;
   }
}

.section-title-wrap{
   text-align: center;
   line-height: 1;
   margin-bottom: 68px;
}

.section-title{
   font-size: 42px;
   letter-spacing: 0.4em;
   font-family: variable.$font-en;
   font-weight: bold;
   position: relative;
   margin-bottom: 4px;

   @include variable.mq(tab){
      font-size: 42px;
   }
   @include variable.mq(){
      font-size: 32px;
   }

}

.section-subtitle{
   font-size: 14px;
   letter-spacing: .3em;
   color: #afafaf;

   @include variable.mq(){
      font-size: 12px;
   }
}
/*------------------------------------------------------
header
--------------------------------------------------------*/
header{
   height: 83px;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
   background-color: #fff;

   .container{
      max-width: 100%;
      padding: 0 70px;
      display: flex;
      justify-content: space-between;
   }

   @include variable.mq(){
      height: 70px;
      .container{
         padding: 0 24px;
      }
   }
}

h1{
   font-size: 24px;
   font-weight: 600;
   line-height: 83px;
   font-family: variable.$font-en;
   letter-spacing: .15em;
   @include variable.mq(tab){
      font-size: 18px;
   }
   @include variable.mq(){
      font-size: 17px;
      line-height: 70px;
   }
   @media screen and (max-width: 330px) {
      font-size: 16px;
   }
}

.head-nav{

   line-height: 83px;
   font-size: 16px;
   ul{
      display: flex;
   }
   @include variable.mq(){
      display: none;
   }
}

.nav-item{
   & + & {
      margin-left: 40px;
      @include variable.mq(tab){
         margin-left: 30px;
      }
   }
   
   a{
      transition: all .3s;
      padding-bottom: 5px;
      border-bottom: 1px solid transparent;
      font-family: variable.$font-en;
      @include variable.mq(tab){
         font-size: 14px;
      }

      &:hover{
         border-color:#676767;
      }
   }

}

.head-nav-sp{
   font-family: variable.$font-en;
   position: absolute;
   top: 0;
   right: 0;
   width: 106px;
   @include variable.mq(pc){
      display: none;
   }
   @include variable.mq(tab){
      display: none;
   }

   p {
      position: absolute;
      height: 70px;
      background-color: #fff;
      padding-top: 22px;
      z-index: 100;
      width: 100%;
      a{
         display: inline-block;
         padding: 3px 3px 3px 20px;
         width: 100%;
         background-color: #fff;
         span{
            font-size: 10px;
         }
      }
   }
   &:hover{
      .nav-list-sp{
         transform: translateY(0);
      }
   }
  

}
.nav-list-sp{
   overflow: hidden;
   transform: translateY(-110%);
   transition: all .5s;
   position: absolute;
   top: 70px;
   width: 100%;
}
.nav-item-sp{
   line-height: 46px;
   width: 100%;
   & + &{
      margin-top: 2px;
   }
   a{
      width: 100%;
      display: inline-block;
      background-color: rgba(#fff, 0.9);
      padding-left: 20px;
      transition: all .3s;
      &:hover{
         background-color: rgba(#676767, 0.9);
         color: #fff;
      }
   }
}
/*------------------------------------------------------
top
--------------------------------------------------------*/
.top{
   background-image: url(../img/top.jpg);
   background-size: cover;
   padding: 170px 0 250px;
   color: white;
   margin-top: 83px;
   font-family: variable.$font-en;
   animation-duration: 3s;
   @include variable.mq(){
      margin-top: 70px;
   }
}

.top-title{
   font-size: 42px;
   letter-spacing: 0.2em;
   margin-bottom: 12px;
   font-weight: 600;
   @include variable.mq(){
      font-size: 30px;
      margin-bottom: 2px;
   }
}

.top-subtitle{
   font-size: 18px;
   letter-spacing: 0.1em;
   @include variable.mq(){
      font-size: 14px;
   }
}

/*------------------------------------------------------
about
--------------------------------------------------------*/

.about-content{
   display: flex;
   align-items: center;
   padding: 0 80px;

   @include variable.mq(tab){
      padding: 0 40px;
   }

   @include variable.mq(){
      display: block;
      padding: 0;
   }
}



.about-content-left{
   width: 260px;
   height: 260px;

   img{
      object-position: 30%;
      border-radius: 140px;
      box-shadow: 3px 3px 20px rgba(0,0,0,0.1);
   }

   @include variable.mq(tab){
      width: 200px;
      height: 200px;
   }

   @include variable.mq(){
      margin: 0 auto 54px;
   }
}

.about-content-right{
   width: calc(100% - 260px);
   padding-left: 72px;
   @include variable.mq(tab){
      width: calc(100% - 200px);
      padding-left: 50px;
   }
   @include variable.mq(){
      width: 100%;
      padding-left: 0;
   }
}

.about-name{
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 34px;
   padding-bottom: 8px;
   letter-spacing: .15em;
   border-bottom: 1px solid #676767;


   @include variable.mq(tab){
      font-size: 18px;
   }
   @include variable.mq(){
      font-size: 18px;
      padding-bottom: 5px;
      display: inline-block;
      margin-bottom: 18px;
   }
}

.about-text{
   line-height: 1.7;
   @include variable.mq(tab){
      font-size: 12px;
   }
   @include variable.mq(){
      font-size: 12px;
   }
}
.about-name span{
   font-size: 15px;
   margin-left: 16px;
   @include variable.mq(tab){
      font-size: 14px;
   }
   @include variable.mq(){
      font-size: 12px;
   }
}



/*------------------------------------------------------
service
--------------------------------------------------------*/
.service{
   background-color: #F8F4EA;

   @include variable.mq(tab){
      padding: 90px 0 56px;
   }
   @include variable.mq(){
      padding: 90px 0 50px;
   }
}


.service-title{
   font-family: variable.$font-en;
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 12px;
   text-align: center;

   @include variable.mq(tab){
      font-size: 22px;
      margin-bottom: 32px;
   }
   @include variable.mq(){
      font-size: 20px;
   }


}



.service-list{
   display: flex;
   gap: 30px;
   margin-bottom: 50px;
   @include variable.mq(tab){
      gap: 20px;
   }
   @include variable.mq(){
      display: block;
   }
}

.service-item{
   width: calc((100% - 40px)/3);
   background-color: #fff;
   border-radius: 20px;
   padding: 24px 20px 30px;
   border: 1px solid #afafaf;
   margin: auto;
   @include variable.mq(){
      width: 100%;
      max-width: 300px;
      &:not(:first-child){
         margin-top: 30px;
      }
   }
}

.service-img{
   margin: auto;
   width: 110px;
   height: 110px;
   margin-bottom: 24px;
   text-align: center;
   img{
      opacity: 0.6;
   }
}

.service-img1{
   img{
      margin-top: 7px;
   }
}

.service-img2{
   img{
      margin-top: 7px;
   }
}

.service-img3{
   width: 115px;
}

.service-text{
   font-size: 14px;
   letter-spacing: .2em;
   line-height: 1.7;

   @include variable.mq(){
      font-size: 12px;
   }
}

.service-tags{
   display: flex;
   margin-top: 14px;
   gap: 6px 10px;
   flex-wrap: wrap;
}
.service-tag{
   background-color: #E1D7C6;
   font-size: 12px;
   padding: 3px 9px;
    border-radius: 30px;
    font-weight: bold;
    color: white;

}

/*------------------------------------------------------
work
--------------------------------------------------------*/

.work{
   padding-bottom: 170px;
}

.work-title{
   margin-top: 10px;
   font-size: 18px;

   span{
      font-size: 14px;
   }
}

.work-img{
   object-position: top;
}

.work-list{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 76px;
   @include variable.mq(tab){
      gap: 40px 32px;
   }
   @include variable.mq(){
      gap: 40px;
   }
}

.work-item{
   width: calc((100% - 76px) / 2);
   transition: opacity .3s;
   aspect-ratio: 5 / 3;

   @include variable.mq(tab){
      width: calc((100% - 40px) / 2);
   }
   @include variable.mq(){
      width: 100%;
   }

   &:hover{
      .work-hover{
         opacity: 1;
         visibility: visible;
      }
   }
   img{
      width: 100%;
      height: 100%;
      object-fit: cover;

   }
}
.work-item a{
   display: inline-block;
   width: 100%;
   height: 100%;
   position: relative;
}
.work-hover{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(#fff, .9);
   padding: 50px;
   color: #000;
   opacity: 0;
   visibility: hidden;
   transition: all .3s;
   text-align: center;
   p{
      font-size: 14px;
      padding-left: 3px;
   }
   @include variable.mq(tab){
      padding: 24px 40px;
   }
}

.work-ctg{
   font-size: 12px;
   display: inline-block;
   font-weight: 300;
   border: 1px solid #000;
   padding: 2px 8px;
   border-radius: 50px;
   margin-top: 50px;
}

.work-title{
   font-size: 16px;
   margin-bottom: 50px;
   padding-left: 3px;
   @include variable.mq(tab){
      margin-bottom: 28px;
   }
}



/*------------------------------------------------------
contact
--------------------------------------------------------*/
.contact{
   padding: 80px 0;
   text-align: center;
   background-color: #F8F4EA;
   @include variable.mq(tab){
      padding: 80px 0;

   }

   p{
      @include variable.mq(){
         font-size: 12px;
      }
   }
   @include variable.mq(){
      padding: 60px 0;
      .section-title{
         letter-spacing: .35em;
      }
   }

}


.contact img{
   width: 10%;
   margin-top: 18px;
   opacity: 0.6;
   @include variable.mq(){
      width: 20%;
   }
}


/*------------------------------------------------------
footer
--------------------------------------------------------*/

footer{
   font-family: variable.$font-en;
   font-weight: bold;
   letter-spacing: .2em;
   background-color: #E1D7C6;
   padding: 24px 0;
   font-size: 12px;
   text-align: end;

}